/* RegistrationForm.module.css */

.gradientCustom {
    background: url(../../assets/formbackground.avif);
  }

  .cardRegistration {
    /* Card Registration Styles */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: transparent;
     border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 20px rgba(226, 220, 220, 0.3), 0 0 50px rgba(230, 217, 217, 0.1);
  }

  .formOutline {
    /* Form Outline Styles */
    position: relative;
  }

  .formControl {
    /* Form Control Styles */
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

  .formLabel {
    color: #fff;
    transition: all 0.3s ease;
  }

  .timePickerlabel {
    color: #fff;
    transition: all 0.3s ease;
  }

  .formLabel.active {
    /* Active Form Label Styles */
    font-size: 0.75rem;
    transform: translateY(-100%) scale(0.75);
  }

  .timePicker {
    /* Date Picker Styles */
    position: relative;
  }

  .genderLabel {
    /* Gender Label Styles */
    font-size: 1rem;
    font-weight: bold;
  }

  .select {
    /* Select Styles */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ced4da;
    width: 100%;
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

  .selectLabel {
    color: #fff;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .selectLabel.active {
    /* Active Select Label Styles */
    font-size: 0.75rem;
    transform: translateY(-100%) scale(0.75);
  }

  .submitBtn {
    /* Submit Button Styles */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
  }

  .submitBtn:hover {
    /* Submit Button Hover Styles */
    background-color: #0056b3;
  }
