#headerbanner{
 background-image: url("https://img.freepik.com/free-vector/realistic-horizontal-cinema-movie-time-poster-with-3d-glasses-snacks-tickets-clapper-reel-blue-background-with-bokeh-vector-illustration_1284-77013.jpg?size=626&ext=jpg&ga=GA1.1.750042566.1717565351&semt=sph");
 width: 100%;
 object-fit: contain;

}