
/*================ First Section =============== */

.banner{
    height: 500px;
    width: 100%;
    opacity: 0.8;
}
.bannerText{
    line-height: 8px;
    font-size: 18px;
}
.bannerHeading{
    font-size: 40px;
    font-weight: 500;
}
@media(max-width: 810px) {
    .banner{
        height: 300px;
    }
    .bannerText{
        font-size: 20px;
    }
    .bannerHeading{
        font-size: 48px;
    }
  }
@media(max-width: 320px) {
    .banner{
        height: 150px;
    }
    .bannerText{
        font-size: 10px;
    }
    .bannerHeading{
        font-size: 24px;
    }
  }

/*================ Second Section =============== */

.aboutSecSection{
    height: auto;
    background: #faf9f9;
}

.vikas{
    height: auto
    ;
    width: 100%;
    /* background: rgba(56, 53, 53, 0.105); */
    position: relative;
}
/* .vikas{
    position:absolute;
} */

.nameheading {
    /* margin-top: 15px; */
    margin-top: 20px;
    font-size: 28px;


}
.stars{
    margin-top: 12%;
}
#btnColor{
    background-color: #ff0000;
    color: aliceblue;
}
#btnColor:hover{
    background-color:#ffff;
    color: black
}