#workprocess{
    background: #faf9f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-bullets{
    background-color: rgb(241, 77, 66);
    color: white;
    font-weight: 600;
    font-family: cursive;
}